


.content {
  height: 650px;
}



.list-group-item {
  border: none;
}

.active {
  background-color: #eeeeee;
}

.nav {
  li { 
    a {
      &:hover, &:focus {
        background-color: #eeeeee;
        }
      }
    }
  }
.sidebar{
  height: 100%;
  overflow-y: auto;
  .navbar-nav{
    li{
      float: left;
      width: 100%;
    }
  }
}

.myimg {
  margin: auto;
  width: 350px;
  height: 350px;
}


label{
  float: left;
}