.sidebar{
	height:100%;
	overflow-y:auto;
}

.list-group-item {

    border: none;
}
.list-group-item:active ,.list-group-item:focus	{
	background-color:red;
}
.list-group-item>a:active 
	background-color:red;
}
.list-group-item>a:focus{
background-color:red !important;
}